page-home {
  .camera-wrapper {
    text-align: center;
  }
  .round-button {
    margin: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    ion-icon {
      font-size: 90px;
    }
  }
}
